<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Merriweather+Sans:wght@300;400&family=Roboto+Mono&family=Rubik:wght@400;500&display=swap');
    .cam {
        color: #E3A927;
    }
    h1, h2 {
        font-family: "Rubik";
        color: #fff;

    }
    h2 {
        font-size: 1.5em;
        text-align: center;
    }
    h1 {
        margin-bottom: 0;
        color: #fff;
        text-align: center;
                font-size: 4em;
    }
body { background-color: #303030;
 background-image: url("/images/Background-image.png");
  background-repeat: no-repeat;
   background-attachment:scroll;
    background-size: cover; 
    }
    
    .grid-container {
        display: flex;
        justify-content: space-between; /* Space items evenly along the main axis */
        padding: 10px;
        align-items: center; /* Center items vertically */
        height: 100vh; /* Make the container take up the full height of the viewport */
    }
    img {
        border: 2px solid #813CD9;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto; /* Center the image horizontally */
    }
    .container {
        flex: 1; /* Let the container grow to fill available space */
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the content vertically */
        justify-content: center; /* Center the content horizontally */
        text-align: center; /* Center the text */
    }
    button {
        margin-top: 10px; /* Add some space between the text and the button */
    }
    .github {
        background-color: #303030;
        padding: 20px 0;
    }
</style>

</head>
<body>
    <div class="grid-container">
        <section class="box">
        <img src="/images/IMG_1279.JPG" width="450" height="650">
        </section>
    <section class="container"> 
      <h1> My name is <strong class="cam">Cameron Vanriel</strong><h1></h1>
    <br> <h2>And I love everything to do with web development</h2>
    <a href="/images/Resume.pdf" download><button class="btn btn-primary">Download Resume</button></a>
    </section>
    </div>
<section class="github">
    <H1> See Some of my work!</H1>
    <div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0 mt-3 p-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Progress Tracker</h5>
        <p class="card-text">A Web Application for tracking gym and nutritional progress made with ASP.Net.</p>
        <a href="#" class="btn btn-primary">See Repository</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-3 p-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Autoblox Website revamp</h5>
        <p class="card-text">A simple site showcasing html and bootstrap skills</p>
        <a href="https://github.com/WavyAirlines/Autoblox" class="btn btn-primary">See Repository</a>
      </div>
    </div>
  </div>
    <div class="col-sm-6 mt-3 p-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ExpressJs Portfolio</h5>
        <p class="card-text">this portfolio right here!</p>
        <a href="https://github.com/WavyAirlines/express-port" class="btn btn-primary">See Repository</a>
      </div>
    </div>
  </div>
      <div class="col-sm-6 mt-3 p-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Style Stage Submission</h5>
        <p class="card-text">My submission for the CSS style stage to showcase my css skills in my first year!</p>
        <a href="https://github.com/WavyAirlines/style-stage" class="btn btn-primary">See Repository</a>
      </div>
    </div>
  </div>
        <div class="col-sm-6 mt-3 p-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Online Smoothie Maker using JS</h5>
        <p class="card-text">I created this web app for class to showcase my js skills, it is barebones and has no css but the functionality is what counts!</p>
        <a href="https://github.com/WavyAirlines/ASS3-fin-" class="btn btn-primary">See Repository</a>
      </div>
    </div>
  </div>
</div>
</section>
</body>
</html>