<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <style>
        .cam{
            color:#E3A927;
        }
                h1, h2 {
            font-family:"rubik";
            color: #fff;
                }
                h2 {
                   font-size: 1em;
                   text-align: center;
                }
                h1 {
                  margin-bottom: 0;
                }
                body{
                    background-color:#303030 ;
                }
                .grid-container {
                    margin-top:100px;
                    display: grid;
                      grid-template-columns: auto auto auto;
                     gap: 10px;
                    padding: 10px;
                }
                img {
                    position: relative;
                    left: 150px;
                    border: 2px solid #813CD9; 
                }
                button {
                  position: relative;
                  left: 275px;
                }
h1 {
    color: #fff;
    text-align: center;
}
    </style>
</head>
<body>
    <div class="grid-container">
        <section class="box">
        <img src="/images/IMG_1279.JPG" width="300" height="500">
        </section>
    <section class="container"> 
      <h1> My name is <strong class="cam">Cameron Vanriel</strong><h1></h1>
    <br> <h2>And I love everything to do with web development</h2>
    <a href="/images/Resume.pdf" download><button class="btn btn-primary">Download Resume</button></a>
    </section>
    </div>
<section class="github">
    <H1> See Some of my work!</H1>
    <div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Progress Tracker</h5>
        <p class="card-text">A Web Application for tracking gym and nutritional progress made with ASP.Net.</p>
        <a href="#" class="btn btn-primary">See Repository</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Autoblox Website revamp</h5>
        <p class="card-text">A simple site showcasing html and bootstrap skills</p>
        <a href="https://github.com/WavyAirlines/Autoblox" class="btn btn-primary">See Repository</a>
      </div>
    </div>
  </div>
</div>
</section>
</body>
</html>